{% if page.url != '/' and page.url != '/index.html' %}
<h1 class="text-center mt-60">
    <a href="https://www.lojaskd.com.br/" target="_blank">
        <img src="{{site.baseurl}}/assets/img/logo_lojaskd.png" alt="">
    </a>
</h1>
<p class="text-center mb-15">
    <a href="https://www.lojaskd.com.br/" target="_blank">
        LojasKD.com.br
    </a>
</p>
{% endif %}
<script src="{{site.baseurl}}/assets/libs/jquery/dist/jquery.js"></script>
<script src="{{site.baseurl}}/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="{{site.baseurl}}/assets/libs/jquery-ui/jquery-ui.js"></script>

<script src="{{site.baseurl}}/assets/js/main.js"></script>