html, body {
  font-family Lato
  font-weight 400
  font-size 14px
}

h1 { 
    font-size 24px 
    font-family Roboto
}
h2 { 
    font-size 24px 
    font-family Roboto
}
h3 { 
    font-size 14px 
    font-family Roboto
}

p {
  margin 5px 0
}

// *********************** //
.text-center {
  text-align center
}
.text-left {
  text-align left
}
.text-right {
  text-align right
}